@page
@model Nvyro.Pages.User.ExternalLoginModel
@{
}

<div class="full-wo-footer">
    <h5 id="external-login-description" class="text-info mb-3" style="text-align:center;">
        You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
        Please complete registration by filling up the details
    </h5>

    <div id="register-selection-btn" class="row" style="height:400px;">
        <button id="register-recycler" type="button" class="col banner-button" style="background-image:url(/assets/images/recycler-user-banner.jpg);background-size:cover;">
            <div class="banner-button-title">
                <h2>I want to <b>Discard Recyclables</b></h2>
            </div>
        </button>
        <button id="register-organization" type="button" class="col banner-button" style="background-image:url(/assets/images/org-banner.jpg);background-size:cover;">
            <div class="banner-button-title">
                <h2>I want to <b>Collect Recyclables</b></h2>
            </div>
        </button>
    </div>
    <div id="registerForm" class="d-none container">
        <form method="post" asp-page-handler="Confirmation">
            @*//Start Progress Bar//*@
            <div id="register-progress">
                <div id="register-progress-bar"></div>
                <ul id="register-progress-num">
                    <li class="register-step active">1</li>
                    <li class="register-step">2</li>
                </ul>
            </div>
            @*//End Progress Bar//*@
            <div class="row" style="height:400px;">
                <div id="change-banner-register" class="col" style="background-image:url(/assets/images/recycler-user-banner.jpg);background-size:cover;display:flex;align-items:center;">
                    <div class="banner-register-title ">
                        <h2>I want to <b>Discard Recyclables</b></h2>
                    </div>
                </div>
                <div class="col-6" id="registerPage1">
                    <div class="form-floating">
                        <label asp-for="RegisterExternalModels.Email"></label>
                        <input disabled id="register-email" asp-for="RegisterExternalModels.Email" class="form-control" aria-required="true" />
                        <input hidden id="register-email" asp-for="RegisterExternalModels.Email" class="form-control" aria-required="true" />
                        <div id="register-email-validation">
                            <div class="text-danger"> <i class="fa-solid fa-xmark" style="color:red;"></i> Invalid email format </div>
                        </div>
                    </div>
                </div>
                <div id="registerPage2" class="col-6 d-none">
                    <div class="row">
                        <div class="form-floating col">
                            <label id="register-name"></label>
                            <input id="register-orgName" asp-for="RegisterExternalModels.FullName" class="form-control" aria-required="true" />
                            <span asp-validation-for="RegisterExternalModels.FullName" class="text-danger"></span>
                        </div>
                        <input hidden id="register-role" asp-for="RegisterExternalModels.Role" class="form-control" aria-required="true" />
                        <div class="form-floating col">
                            <label asp-for="RegisterExternalModels.PhoneNumber"></label>
                            <div class="input-group">
                                <input disabled class="input-group-prepend form-control" style="max-width:60px;" value="+65" />
                                <input id="register-phone" asp-for="RegisterExternalModels.PhoneNumber" class="form-control" aria-required="true" />
                            </div>
                            <span asp-validation-for="RegisterExternalModels.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-floating">
                        <label>Search Address</label>
                        <div class="input-group">
                            <span class="input-group-text" style="border-right:0;background:white;border-radius:.25rem 0 0 .25rem;"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input id="search-full-address" style="border-left:0;" class="form-control" aria-required="true" placeholder="start typing to search.." />
                        </div>
                        <div id="select-address" class="show" style="position:relative;">
                        </div>
                    </div>
                    <div class="row">
                        <div id="register-unitNumber" class="form-floating invisible col">
                            <label asp-for="RegisterExternalModels.UnitNumber"></label>
                            <input asp-for="RegisterExternalModels.UnitNumber" class="form-control" aria-required="true" />
                            <span asp-validation-for="RegisterExternalModels.UnitNumber" class="text-danger"></span>
                        </div>
                        <div id="register-blockNumber" class="form-floating invisible col">
                            <label asp-for="RegisterExternalModels.BlockNumber"></label>
                            <input asp-for="RegisterExternalModels.BlockNumber" class="form-control" aria-required="true" />
                            <span asp-validation-for="RegisterExternalModels.BlockNumber" class="text-danger"></span>
                        </div>
                        <div id="register-postalCode" class="form-floating invisible col">
                            <label asp-for="RegisterExternalModels.PostalCode"></label>
                            <input asp-for="RegisterExternalModels.PostalCode" class="form-control" aria-required="true" />
                            <span asp-validation-for="RegisterExternalModels.PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="register-roadName" class="form-floating invisible">
                        <label asp-for="RegisterExternalModels.RoadName"></label>
                        <input asp-for="RegisterExternalModels.RoadName" class="form-control" aria-required="true" />
                        <span asp-validation-for="RegisterExternalModels.RoadName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between mt-2">
                <div id="back-register-selection" class="col-3 d-none">
                    <button type="button" id="register-back-main" class="w-100 btn btn-lg btn-primary"><i class="fa-solid fa-arrow-left "></i> Back </button>
                </div>
                <div id="register-btn-back" class="col-3 invisible">
                    <button type="button" id="register-back" class="w-100 btn btn-lg btn-primary"><i class="fa-solid fa-arrow-left "></i> Back </button>
                </div>
                <div id="register-btn-next" class="col-3">
                    <button type="button" id="register-next" class="w-100 btn btn-lg btn-primary" disabled>Next <i class="fa-solid fa-arrow-right"></i></button>
                    <button type="submit" id="register-submit" class="w-100 btn btn-lg btn-primary d-none" disabled> Submit </button>
                </div>
            </div>

        </form>
    </div>
</div>
@section Scripts
{
<script src="~/js/UserManagementExternal.js"></script>
<script>
    $(document).ready(()=>{
      
        $("#register-email-validation").html(`<div class="text-success"> <i class="fa-solid fa-check" style="color:green;"></i> Valid email format </div>`);
       
       
       $("#register-next").prop("disabled", false);
     
        

     });
</script>
}
