@page
@model Nvyro.Pages.User.LockedAccountModel
@{
}

<div class="container" style="text-align:center;">
    <img src="~/assets/images/AccountLocked.jpg" style="width:40%;"/>
    <h2>Oh No! :(</h2>
    <h5>Your Account is locked. Please see your email for instructions to unlock your account.</h5>
</div>