@page
@model Nvyro.Pages.User.LoginModel
@{
}
@using AspNetCore.ReCaptcha

<div class="container full-wo-footer">
    <div class="row" style="height:400px;">
        <div class="col" style="background-image:url(/assets/images/login-banner.jpg);background-size:cover;display:flex;align-items:center;">
        </div>
        <div class="col">
            <form method="post">
                <h2 class="mb-3">Login</h2>
                <div class="form-floating">
                    <label asp-for="Login.Email"></label>
                    <input asp-for="Login.Email" class="form-control" aria-required="true" />
                    <span asp-validation-for="Login.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="Login.Password"></label>
                    <input type="password" asp-for="Login.Password" class="form-control" aria-required="true" />
                    <span asp-validation-for="Login.Password" class="text-danger"></span>
                </div>

                <button type="submit" class="w-100 filled-button mt-2 "> Login </button>
                <div class="d-flex justify-content-between mt-2" style="font-size:0.75rem;">
                    <a asp-page="/User/ForgotPassword">Forgot Password</a>
                    <span>New to NVYRO?<a asp-page="/User/Register"> Sign Up</a> here</span>
                </div>
                @Html.ReCaptcha()
            </form>
            <hr />
            <div class="row">
                <div class="col-md-3" style="min-width:100%;">

                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button name="provider" value="@provider.Name" class="btn btn-outline-dark" type="submit" style="text-transform:none;border-color:lightgray;width:100%;">
                                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                        Login with @provider.Name
                                    </button>
                                }
                            </p>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}