@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container" style="text-align:center;">
    <img src="~/assets/images/ConfirmEmail.jpg" style="width:40%;"/>
    <h2>Hurray! :)</h2>
    <h5>Your Account is created. Please see your email for instructions to confirm your account.</h5>
</div>


