@page
@model Nvyro.Pages.User.ResetPassword
@{
}
@using AspNetCore.ReCaptcha

<div class="container full-wo-footer">
    <form method="post">
        <div class="row"  style="height:400px;">
            <div class="col" style="background-image:url(/assets/images/forgot-password.jpg);background-size:cover;display:flex;align-items:center;">
            </div>
            <div class="col">
                <h2 class="mb-3">Reset Password</h2>
                <input asp-for="ResetPasswordModel.Code" type="hidden" />
                <input asp-for="ResetPasswordModel.Email" type="hidden" />

                <div class="form-floating">
                    <label asp-for="ResetPasswordModel.Password"></label>
                    <input type="password" asp-for="ResetPasswordModel.Password" class="form-control" aria-required="true" />
                    <span asp-validation-for="ResetPasswordModel.Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="ResetPasswordModel.ConfirmPassword"></label>
                    <input type="password" asp-for="ResetPasswordModel.ConfirmPassword" class="form-control" aria-required="true" />
                    <span asp-validation-for="ResetPasswordModel.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="w-100 filled-button mt-2 "> Reset </button>
                <div class="d-flex justify-content-between mt-2" style="font-size:0.75rem;">
                    <a asp-page="/User/Login">Login</a>
                    <span>New to NVYRO?<a asp-page="/User/Register"> Sign Up</a> here</span>
                </div>
                @Html.ReCaptcha()
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}